.testimonial-background {
  background-color: #495e57;
  width: 100%;
  padding-bottom: 60px;
}

#card-background {
  background-color: #edefee;
  border-radius: 16px;
  color: black;
  padding: 16px;
}

.testimonial-background > div {
  color: white;
}

.testimonial-background > h1 {
  color: white;
}
